﻿@model IEnumerable<string>

<div class="btn-group btn-group-sm btn-group-justified">
    @Html.ActionLink("Home", "List", "Product", null, new { @class = "btn btn-default btn-sm"})

    @foreach (var link in this.Model)
    {
        @Html.RouteLink(link, new
        {
            controller = "Product",
            action = "List",
            category = link,
            page = 1,
        }, new
        {
            @class = "btn btn-default btn-sm" + (link == this.ViewBag.category ? "btn-primary" : ""),
        })
    }
</div>