﻿@model SportsStore.Domain.Entities.CartCheckoutVM

@{
    this.ViewBag.Title = "SportsStore : Checkout";
}

<h2>Check out now</h2>
<p>Please enter your details, and we'll ship your goods right away!</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    
    <h3>Ship to</h3>
    <div class="form-group">
        <label>Name : </label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-controll" })
    </div>

    <h3>Address</h3>

    <div class="form-group">
        <label>Line 1 : </label>
        @Html.TextBoxFor(model => model.Line1, new { @class = "form-controll" })
    </div>
    <div class="form-group">
        <label>Line 2 : </label>
        @Html.TextBoxFor(model => model.Line2, new { @class = "form-controll" })
    </div>
    <div class="form-group">
        <label>Line 3 : </label>
        @Html.TextBoxFor(model => model.Line3, new { @class = "form-controll" })
    </div>

    <div class="form-group">
        <label>City : </label>
        @Html.TextBoxFor(model => model.City, new { @class = "form-controll" })
    </div>

    <div class="form-group">
        <label>State : </label>
        @Html.TextBoxFor(model => model.State, new { @class = "form-controll" })
    </div>

    <div class="form-group">
        <label>Zip : </label>
        @Html.TextBoxFor(model => model.Zip, new { @class = "form-controll" })
    </div>

    <div class="form-group">
        <label>Country : </label>
        @Html.TextBoxFor(model => model.Country, new { @class = "form-controll" })
    </div>

    <h3>Options</h3>

    <div class="checkbox">
        <label>
            @Html.EditorFor(model => model.GifWrap)
            Gift wrap these item
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete order" />
    </div>
}