﻿@model SportsStore.WebUI.Models.CartIndexVM

@{
    this.ViewBag.Title = "Sports Store : Your Cart";
    var products = this.Model.CartObj.GetUniqueProducts();
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>Your cart</h2>

<table id="cartTable" class="table">
    <thead>
        <tr>
            <th class="text-center">Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in products)
        {
            <tr>
                <td class="text-center">@this.Model.CartObj.GetCountPerProduct(p.ProductID)</td>
                <td class="text-left">@p.Name</td>
                <td class="text-right">@p.Price.ToString("c")</td>
                <td class="text-right">@this.Model.CartObj.GetSubTotalPrice(p.ProductID).ToString("c")</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductId", p.ProductID)
                        @Html.Hidden("ReturnUrl", this.Model.ReturnUrl)
                        <input type="submit" value="Remove" class="btn btn-sm btn-warning" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total : </td>
            <td colspan="1" class="text-right">@this.Model.CartObj.GetTotalPrice().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@this.Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })
</div>