﻿@model SportsStore.Domain.Entities.Cart

<div class="navbar-right hidden-xs">
    @Html.ActionLink("Checkout", "Index", "Cart",
        new { returnUrl = this.Request.Url.PathAndQuery },
        new { @class = "btn btn-default navbar-btn" }
    )
</div>

<div class="navbar-right visible-xs">
    <a  href=@Url.Action("Index", "Cart", new {returnUrl = this.Request.Url.PathAndQuery})
        class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-shopping-cart"/>
    </a>

    @Html.ActionLink("Checkout", "Index", "Cart",
        new { returnUrl = this.Request.Url.PathAndQuery },
        new { @class = "btn btn-default navbar-btn" }
    )
</div>

<div class="navbar-text navbar-right">
    <b class="hidden-xs">Your cart : </b>
    @this.Model.Products.Count() item(s),
    @this.Model.GetTotalPrice().ToString("c")
</div>