﻿body {
    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .field-validation-error {
        border: 1px solid #ff0000;
        background: #ffeeee;
    }

    .field-validation-error {
        font-weight: bold;
        color: #ff0000;
    }

    .field-validation-error {
        display: none;
    }
}
